@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome by Zeb</h1>
    <br/>
    Testing the page
<br/>
    from azure
<br/>
    Now again from azure

<br>
third change from Azure

<br/>
changes from VCC 

<br /> 

one more form vc
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
